<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Datos de Laboratorio</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Laboratorio: </label>
            <input #laboratorio type="text" class="form-control" />
            <button (click)="Actualizar(laboratorio.value)" class="btn btn-danger">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  